# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist

# hacked resources
hack/resources

# cypress
cypress/screenshots

# Jest
coverage

# misc
.DS_Store
npm-debug.log*
build
.idea
.vscode
.cache
.cache-loader

